<footer class="py-5 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col align-self-center">
        <%= link_to root_path, class:"d-block mb-2 text-white", style: "font-size: 25px;"  do %>
          My Address Book
        <% end %>
        <small class="d-block mb-3 text-muted">Brendan Bliss © 2021</small>
      </div>
    </div>
  </div>
</footer>